@import "reset";
@import "fonts";
@import "variables";
@import "themes/dark";
@import "themes/light";

body {
	background: var(--primary-color);
	width: 100%;
	height: 100vh;
}

.mantine-Group-root {
	flex-wrap: nowrap !important;
	margin: 20px 0;
}

.react-select__control {
	width: 300px !important;
}
