.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.label {
	margin-bottom: 5px !important;
	font-size: 14px !important;
	color: #868e96;
}
