.title {
	margin-bottom: 1rem !important;
}

.pointer {
	cursor: pointer;
}

.info_input_wrapper_root {
	width: 49%;
}

.margin_bottom {
	margin-bottom: 1rem;
}

.info_item {
	width: 100%;
}

.btn_right {
	float: right;
}
.description {
	margin-bottom: 5px !important;
}
