.pointer {
	cursor: pointer;
}

.title {
	margin-bottom: 1rem !important;
}

.btn_root {
	margin-bottom: 1rem;
}

.list_item_root {
	padding: 3px 0;
	margin-bottom: 3px;
	background-color: #f1f3f5;
	border-radius: 8px;
	cursor: pointer;
}

.list_item_label {
	padding-left: 10px;
	width: 100%;
}

.flex {
	margin-bottom: 1rem;
}

.list_item_wrapper {
	width: 100%;
}
